extends layout

block content

  h2 Cognitive Services Computer Vision
  ul
    each tag in tags
      li= tag.name + "," + tag.confidence

  h2 Cognitive Services Emotion
  ul
    each emot in emotions
      li= emot

  h2 Spotify Playlists
  ul
    each play in playlists
      li= play.name